<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            {% for item in nav.sidebar_iteritems %}
				{% if item.oprate in user.get_all_permissions %}
				<li>
        			<a href="{{ item.link }}"><i class="fa fa-dashboard fa-{{ item.icon }}"></i> {{ item.title }} </a>
				</li>
				{% else %}
				    {% ifequal item.oprate "all" %}
				    <li>
        			    <a href="{{ item.link }}"><i class="fa fa-dashboard fa-{{ item.icon }}"></i> {{ item.title }} </a>
				    </li>
					{% endifequal %}
				{% endif %}
			{% endfor %}
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
